# Core Dependencies
flask
flask-sqlalchemy
flask-login
python-dotenv
requests
waitress
pytz

# Bot Framework & Helpers
python-telegram-bot
APScheduler
flask-apscheduler
schedule

# Plugin Specific
TikTokLive
websockets
pymysql
cryptography

# Utilities
cryptography
gunicorn